@model IEnumerable<CMSRepoPatternMVCDemo.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <form method="get" action="@Url.Action("Search")">
        <input type="text" name="searchterm" placeholder="Enter name/dept to be searched"/>
        <button type="submit">Search</button>
    </form>
</p>
<p>
    <form method="get" action="@Url.Action("SearchSalary")">
        <input type="number" name="minsal" placeholder="Enter min salary to be searched" />

        <input type="number" name="maxsal" placeholder="Enter max salary to be searched" />
        <button type="submit">Filter</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoiningDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoiningDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepId)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmpId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmpId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmpId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
